<%= form_tag url_for(controller: :calendars, action: :update), method: :patch do %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Change Place Img</th>
      <th>Victories</th>
      <th>Defeats</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>


      <% @teams.each do |team| %>
        <tr>
          <td><%= label_tag  team.name %></td>
          <td><%= select_tag 'teams[][change_place_img]', options_for_select([ "up", "down","none"],team.change_place_img) %></td>
          <td><%= text_field_tag 'teams[][victories]', team.victories %></td>
          <td><%= text_field_tag 'teams[][defeats]', team.defeats %></td>
          <td><%= text_field_tag 'teams[][kills]', team.kills %></td>
          <td><%= text_field_tag 'teams[][deaths]', team.deaths %></td>
          <td><%= text_field_tag 'teams[][points]', team.points %></td>
          <%= hidden_field_tag 'teams[][id]',team.id %>
        </tr>
      <% end %>
    <td><%= submit_tag 'Update' %></td>


  </tbody>
</table>
<% end %>