<!-- app/views/sessions/new.html.erb -->

<h1>Login</h1>

<%= form_tag session_path do %>

  Email: <%= text_field_tag :username %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>
