<html  ng-app="riot">
  <head></head>

  <body>

    <div ng-controller="vidController">
        <li>{{optionss}}</li>
    </div>

    <link href="css/main.css" rel="stylesheet" type="text/css"/>
    <link href="css/GridColumnCarousel.min.css" rel="stylesheet" type="text/css"/>
    <script src="js/GridColumnCarousel.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"> </script>
    <script type="text/javascript" src="js/bootstrap.js"> </script>
    <script type="text/javascript" src="js/script.js"> </script>
    <script src="js/controllers.js"></script>
  </body>
</html>
