<!-- app/views/things/_thing.html.erb -->

<!-- required attributes are data-role, data-move-url, data-position -->
<li data-role="thing<%= @article.id %>" data-move-url="<%= move_admin_article_path(@article) %>" data-position="<%= @article.position %>">
  <h2><%= @article.id %></h2>
</li>

<%= link_to 'Edit', edit_admin_article_path(@article.id) %></td>
<%= link_to 'Destroy', admin_article_path(@article.id), method: :delete, data: { confirm: 'Are you sure?' } %>
