<%= form_for [:admin,@article] do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :url %>
    <%= f.text_field :url %>

    <%= f.label :is_youtube %>
    <%= f.check_box :is_youtube %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>

    <%= f.label :date %>
    <%= f.date_select :date %>

    <%= f.label :thumb_url %>
    <%= f.text_field :thumb_url %>

    <%= f.submit %>
  </div>
<% end %>
