<p id="notice"><%= notice %></p>

<h1>Articles</h1>


<ol data-role="activerecord_sortable" class="sortable">
  <% @articles.each do |article| %>
      <li data-role="articles<%= article.id %>" data-move-url="<%= move_admin_article_url(article.id) %>" data-position="<%= article.position %>">
        <span> <%= article.title %></span>

      <%= link_to 'Edit', edit_admin_article_path(article.id) %></td>
      <%= link_to 'Destroy', admin_article_path(article.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
  <% end %>

</ol>

<br>

<%= link_to 'New Article', new_admin_article_path %>
