<%= form_tag admin_texts_path, method: :patch do %>

  <%= label_tag :copa_header  %>
  <%= text_area_tag :copa_header,  @texts.copa_header ,class:'wysihtml5'%>
    <hr>

    <%= label_tag :global_rules  %>
    <%= text_area_tag :global_rules,  @texts.global_rules ,class:'wysihtml5'%>
    <hr>

    <%= label_tag :local_rules  %>
    <%= text_area_tag :local_rules,  @texts.local_rules ,class:'wysihtml5 '%>

    <hr>

    <%= label_tag :cim  %>
    <%= text_area_tag :cim,  @texts.cim ,class:'wysihtml5 '%>

    <hr>

    <%= label_tag :cdl  %>
    <%= text_area_tag :cdl,  @texts.cdl ,class:'wysihtml5 '%>

    <hr>

  <%= submit_tag 'Update', {class:'btn btn-primary'} %>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').wysihtml5(
        {
          'toolbar': {'html': true}
        }
    )


  })
</script>
