<%= form_for [:admin,@match] do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <%= f.label :team_a_id %>
    <%= f.collection_select :team_a_id, Team.all, :id, :name, {:selected => @match.a_team.try(:id).to_s} %>

    <%= f.label :score_a %>
    <%= f.text_field :score_a %>

    <%= f.label :team_b_id %>
    <%= f.collection_select :team_b_id, Team.all, :id, :name, {:selected => @match.b_team.try(:id).to_s} %>

    <%= f.label :score_b %>
    <%= f.text_field :score_b %>

    <%= f.label :time %>
    <%= f.datetime_select :time ,{start_year:2016,end_year:2017} %>
    <%= f.label :journey_id %>
    <%= f.collection_select :journey_id, Journey.all, :id, :name, {:selected => @match.journey_id.to_s} %>

    <%= f.submit %>

  </div>
<% end %>
