<p id="notice"><%= notice %></p>

<h1>Admin Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_groups.each do |admin_group| %>
      <tr>
        <td><%= admin_group.name %></td>
        <td><%= link_to 'Edit', edit_admin_group_path(admin_group.id) %></td>
        <td><%= link_to 'Destroy', admin_group_path(admin_group.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Group', new_admin_group_path %>
