<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <!--<td><%= link_to 'Show', admin_team_path(team.id) %></td>-->
        <td><%= link_to 'Edit', edit_admin_team_path(team) %></td>
        <td><%= link_to 'Destroy', admin_team_path(team.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_admin_team_path %>
